<server description="{{ server_description }}">

    <featureManager>
        {% for feature in liberty_features %}
        <feature>{{ feature }}</feature>
        {% endfor %}
    </featureManager>

    <httpEndpoint httpPort="{{ liberty_http_port }}" httpsPort="{{ liberty_https_port }}" id="defaultHttpEndpoint"/>

    {% for jdbc in liberty_jdbc_configs %}
    <dataSource jndiName="{{ jdbc.jndiName }}">
        <jdbcDriver libraryRef="JDBCLib"/>
        <properties databaseName="{{ jdbc.databaseName }}" serverName="{{ jdbc.serverName }}" portNumber="{{ jdbc.portNumber }}"/>
    </dataSource>
    {% endfor %}
    
    <!-- HTTP Endpoint -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="{{ http_port }}"
                  httpsPort="{{ https_port }}"/>
</server>

